.header {
  min-height: 38rem;
  padding-top: 13rem;
  padding-bottom: 15rem;

  @include rwd('tablet') {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2.4rem;

    @include rwd('tablet') {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    @include t-48-64;
  }
  &__image {
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      object-position: center;
    }
  }
}

.testimonial {
  padding: 13rem 0;
  background-color: $c-dark-brown;
  color: $c-white;

  @include rwd('tablet') {
    padding: 5rem 0;
  }

  &__quote + &__text {
    margin-top: 6.8rem;
    @include rwd('tablet') {
      margin-top: 3rem;
    }
  }

  &__text + &__author {
    margin-top: 9.6rem;
    @include rwd('tablet') {
      margin-top: 4rem;
    }
  }

  &__text {
    @include t-24-40;
    max-width: 95rem;
  }

  &__author {
    @include t-24-40;
    color: $c-gray;
  }
}