$c-white:      #ffffff;
$c-dark-brown: #231E1E;
$c-text:       #231E1E;
$c-light-gray: #F1F0F0;
$c-gray:       #989898;
$c-purple:     #DAC2F2;
$c-lime:       #5EDC4B;
$c-red:        #FF5A5F;
$c-selection:  #DAC2F2;

$trS: .1s ease-in-out;
$tr:  .2s ease-in-out;
$trM: .3s ease-in-out;
$trL: .5s ease-in-out;

$f-prim:  'Inter', sans-serif;
$fs-base: 1.6rem;

$width-unitless: 1200;
$padding:        20;