$gridWidth       : 1000px !default;
$gridWidthWide   : 1400px !default;
$gridGutter      : 20px   !default;

.container,
.container--wide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gridGutter;
  padding-right: $gridGutter;
}

.container {
   max-width: ($gridWidth + ($gridGutter * 2));
}
.container--wide {
   max-width: ($gridWidthWide + ($gridGutter * 2));
}
